<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Computational Biology</h1>
            <span><a href="http://www.lifesci.dundee.ac.uk/">University of Dundee</a></span>
            <span><address>United Kingdom</address><time>2012 to 2016 (Expected)</time></span>
        </header>
        <p>
            <em><a href="http://www.lifesci.dundee.ac.uk/phdprog/phd-studentships/programmes/wellcome-trust-4-year-phd-programme">Wellcome Trust PhD Programme</a>.
                Resarch project under the supervision of
                <a href="http://www.compbio.dundee.ac.uk/">Prof. Geoff Barton</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Molecular Genetics and Biomedicine</h1>
            <span><a href="http://www.unl.pt/en/">New University of Lisbon</a></span>
            <span><address>Portugal</address><time>2008 to 2010</time></span>
        </header>
        <p>
            <em>Merit scholarship from Santander-UNL.
                Master thesis project under supervision of
                <a href="http://sites.fct.unl.pt/xtal">Prof. Maria João Romão</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Biochemistry</h1>
            <span><a href="http://www.unl.pt/en/">New University of Lisbon</a></span>
            <span><address>Portugal</address><time>2005 to 2008</time></span>
        </header>
        <p>
            <em><a href="http://ectn-assoc.cpe.fr/chemistry-eurolabels/">Eurobachelor</a> degree. Ranked second in class.</em>
        </p>
    </article>
</section>