<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1><a href="http://papersetal.com/">Papers et al.</a></h1>
            <span>Founder <a href="https://twitter.com/papersetal">@papersetal</a></span>
            <span><address>Dundee, United Kingdom</address><time>2015</time></span>
        </header>
        <p>A startup providing new clever ways of managing and consuming research literature.</p>
    </article>
    <article>
        <header>
            <h1><a href="http://tedxuod.co.uk/">TEDx University of Dundee 2015</a></h1>
            <span>Developer <i class="fa fa-github"></i> <a href="https://github.com/tedxuod/tedxuod.github.io">Source Code</a> /
            <i class="fa fa-globe"></i> <a href="http://tedxuod.co.uk/">Website</a></span>
            <span><address>Dundee, United Kingdom</address><time>2015</time></span>
        </header>
        <p>Organization and development/design of the event's website and ticket sale.</p>
    </article>
    <article>
        <header>
            <h1><a href="http://piclssymposium.org/2014/">PiCLS Symposium 2014</a></h1>
            <span>Developer <i class="fa fa-github"></i> <a href="https://github.com/piclssymposium/piclssymposium.github.io">Source Code</a> /
            <i class="fa fa-globe"></i> <a href="http://piclssymposium.org/2014/">Website</a></span>
            <span><address>Dundee, United Kingdom</address><time>2014</time></span>
        </header>
        <p>Organization and development/design of the event's website.</p>
    </article>
    <article>
        <header>
            <h1><a href="http://www.biotechnologyyes.co.uk/biotechnologyyes/index.aspx">Biotechnology YES</a></h1>
            <span>Entrepreneur and R&D officer @ <em>IntelliGene</em></span>
            <span><address>Glasgow, United Kingdom</address><time>2013</time></span>
        </header>
        <p>Participated with a team project "IntelliGene: Empower your future" in the Biotechnology Young Entrepreneurs Scheme Competition.</p>
    </article>
</section>