<section class="thirteen columns">
    <h1>Posters</h1>
    <article>
        <strong>Fábio Madeira</strong> and Geoffrey J. Barton. 2015.
        <a href="http://dx.doi.org/10.6084/m9.figshare.1584880">Analysis of protein domain interactions and genetic variation.</a>
        <em>SLS PhD Poster Session at University of Dundee</em> Dundee, October 9th.
        <u>Selected as Poster Prize Winner.</u>
    </article>
    <article>
        <strong>Fábio Madeira</strong> and Geoffrey J. Barton. 2015.
        <a href="http://dx.doi.org/10.6084/m9.figshare.1485641">Protein interactions and genetic variation.</a>
        <em>ISMB/ECCB 2015 (23rd Annual International Conference on Intelligent Systems for Molecular Biology - 14th European
            Conference on Computational Biology)</em> Dublin, Jul 10-14th. <u>Selected for Oral Poster Presentation and Travel Fellowship.</u>
    </article>
    <article>
        <strong>Fábio Madeira</strong>, Michele Tinti, Gerta Hoxhaj, Geoffrey J. Barton and Carol MacKintosh. 2015.
        <a href="http://dx.doi.org/10.6084/m9.figshare.923439">Predicting and mapping the human 14-3-3 interactome to
            test a new signalling paradigm</a>.
        <em>Wellcome Trust Retreat in Firbush</em> College of Life Sciences, University of Dundee, May 23th.
    </article>
    <article>
        Michele Tinti, <strong>Fábio Madeira</strong>, Catherine Johnson, Margaret Malcolm and Carol MacKintosh. 2012.
        <a href="http://dx.doi.org/10.6084/m9.figshare.923438">Evolution of 14-3-3-binding sites and 2R-Ohnologue families</a>.
        <em>PTMs in Cell Signaling, Copenhagen</em> Denmark, December 2-5th.
    </article>
    <article>
        Paulo Roque Lino, <strong>Fábio Madeira</strong>, Isabel Tavares de Almeida and Paula Leandro. 2010.
        Alternative Answers to Everlasting Problems: Protein Engineering Towards New Approaches for
        Phenylketonuria Treatment. <em>SPDM Annual Symposium</em> Albufeira, Portugal, November 4-5th.
    </article>
    <article>
        Catarina Coelho, <strong>Fábio Madeira</strong>, Paulo Roque Lino, Isabel Tavares de Almeida,
        Paula Leandro and Maria João Romão. 2010.
        <a href="http://dx.doi.org/10.6084/m9.figshare.923437">Crystallization of a Stable Form of Human Phenylalanine Hydroxylase: Towards the 3D Structure Determination
        </a>. <em>UK-Portuguese Teams Meeting</em> Protein-protein interaction and Protein folding. FCT-UNL, March 29-31st.
    </article>
</section>