<section class="thirteen columns">
    <h1>Research Projects</h1>
    <article>
        <header>
            <h1>PhD research project</h1>
            <span><a href="http://www.compbio.dundee.ac.uk">Geoff Barton's Group</a></span>
            <span><address>Dundee, United Kingdom</address><time>since 2013</time></span>
        </header>
        <p>
            Investigating the consequences of genetic variation on protein-protein and protein-ligand
            interactions.
        </p>
    </article>
    <article>
        <header>
            <h1>Wellcome Trust PhD Programme - 3rd rotation</h1>
            <span><a href="http://www.lifesci.dundee.ac.uk/groups/ron_hay/">Ron Hay's Group</a></span>
            <span><address>Dundee, United Kingdom</address><time>May 2013 to July 2013</time></span>
        </header>
        <p>
            Deciphering the substrate specificity of ubiquitin conjugating enzymes.
        </p>
    </article>
    <article>
        <header>
            <h1>Wellcome Trust PhD Programme - 2nd rotation</h1>
            <span><a href="http://www.compbio.dundee.ac.uk">Geoff Barton's Group</a></span>
            <span><address>Dundee, United Kingdom</address><time>February 2013 to April 2013</time></span>
        </header>
        <p>
            Development of classification methods to predict new 14-3-3-binding proteins and phosphopeptides.
        </p>
    </article>
    <article>
        <header>
            <h1>Wellcome Trust PhD Programme - 1st rotation</h1>
            <span><a href="http://www.lifesci.dundee.ac.uk/people/carol-mackintosh">Carol MacKintosh's Group</a></span>
            <span><address>Dundee, United Kingdom</address><time>October 2012 to January 2013</time></span>
        </header>
        <p>
            Mapping the 14-3-3-binding 2R-ohnologue protein families of the human kinome.
        </p>
    </article>
    <article>
        <header>
            <h1>Studentship in Bioinformatics</h1>
            <span><a href="http://centria.di.fct.unl.pt/~ludi/">Ludwig Krippahl's Group</a></span>
            <span><address>Lisbon, Portugal</address><time>April 2011 to August 2012</time></span>
        </header>
        <p>
            CREMA: Constrained Refining of Multiple Alignments to identify correlations between mutations.
        </p>
    </article>
    <article>
        <header>
            <h1>Studentship in Cell Biology</h1>
            <span><a href="http://www.itqb.unl.pt/labs/glycobiology">Júlia Costa's Group</a></span>
            <span><address>Oeiras, Portugal</address><time>November 2010 to February 2011</time></span>
        </header>
        <p>
            Glycosylation and Lewis X motif in neuronal tissue.
        </p>
    </article>
    <article>
        <header>
            <h1>Studentship in Structural Biology</h1>
            <span><a href="http://sites.fct.unl.pt/xtal">Maria João Romão's Group</a></span>
            <span><address>Lisbon, Portugal</address><time>September 2009 to October 2010</time></span>
        </header>
        <p>
            Production of a stable form of human phenylalanine hydroxylase: towards the 3D structure determination.<br/>
            Co-supervised by <a href="http://imed.ulisboa.pt/research/program-areas/drug-discovery/metabolism-and-genetics/">Prof. Ana Paula Leandro</a>
        </p>
    </article>
</section>