<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Python, data analysis, machine learning &amp; web development</h1>
            <span>Adopter of Test-driven and Agile development practices.</span>
        </header>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>&nbsp;&nbsp;&nbsp;
                <em>Python</em> (Flask, Webapp2, iPython, Pandas, Numpy, scikit-learn...)
            <p>

                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;&nbsp;
                <em>R</em>, <em>Bash</em>, <em>C</em> &amp; <em>Git</em>
             </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;&nbsp;
                <em>HTML/CSS3</em> (Bootstrap, Skeleton, Ionic...) &amp; <em>Javascript</em> (jQuery, AngularJS, D3...)
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;&nbsp;
                <em>SQLite</em> &amp; <em>MongoDB</em>
            </p>
    </article>
</section>