<section class="thirteen columns">
    <h1>Workshops</h1>
    <article>
        <header>
            <h1>PDBe API Workshop</h1>
            <span><a href="http://www.ebi.ac.uk/">European Bioinformatics Institute</a></span>
            <span><address>Cambridge, United Kingdom</address><time>2014</time></span>
        </header>
        <p>
            Programmatic Access to the Molecular Structure Information at EMBL-EBI Hinxton, November 20-21st.
        </p>
    </article>
    <article>
        <header>
            <h1>Data Visualisation and Infographics Design</h1>
            <span><a href="http://www.dundee.ac.uk/">University of dundee</a></span>
            <span><address>Dundee, United Kingdom</address><time>2014</time></span>
        </header>
        <p>	Workshop on data visualisation by Andy Kirk, the curator of
            <a href="http://www.visualisingdata.com/">Visualizing data</a>.
        </p>
    </article>
    <article>
        <header>
            <h1>Bioinformatics using Python for Biologists</h1>
            <span><a href="http://gtpb.igc.gulbenkian.pt/bicourses/">Instituto Gulbenkian de Ciência</a></span>
            <span><address>Oeiras, Portugal</address><time>2011</time></span>
        </header>
        <p>
            <a href="http://www.igc.gulbenkian.pt/">Gulbenkian Training Programme in Bioinformatics</a>
            with Allegra Via and Fabrizio Ferrè (Sapienza Università di Roma), May 2-6th.
        </p>
    </article>
    <article>
        <header>
            <h1>Advanced Course in Protein Crystallography</h1>
            <span><a href="http://www.unl.pt/en/">New University of Lisbon</a></span>
            <span><address>Lisboa, Portugal</address><time>2010</time></span>
        </header>
        <p>
            <a href="http://sites.fct.unl.pt/xtal">Macromolecular Crystallography Laboratory</a>, FCT-UNL, February 1-5th.
        </p>
    </article>
</section>