<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Research in Computational Biology</h1>
            <span><a href="http://www.lifesci.dundee.ac.uk/">University of Dundee</a></span>
            <span><address>United Kingdom</address><time>2012 to 2016</time></span>
        </header>
        <p>
            The project focused on software development, statistical data analysis, web development and
            development/benchmarking of machine learning classifiers.
        </p>
    </article>
    <article>
        <header>
            <h1>Research in Bioinformatics and Artificial Intelligence</h1>
            <span><a href="http://www.unl.pt/en/">New University of Lisbon</a></span>
            <span><address>Portugal</address><time>2011 to 2012</time></span>
        </header>
        <p>
            The project involved software development and development/benchmarking of constraint
            programming algorithms.
        </p>
    </article>
</section>